{% extends 'base.html' %}
{% set titre = titre %}
{% set V = V %}
{% set F = F %}
{% block content %}


<div class="flex flex-col items-center bg-{{'green-200' if st=='ok' else 'yellow-200' if st=='att' else 'red-200' }} rounded-lg border shadow-md md:flex-row md:max-w-xl hover:bg-opacity-75">
    <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
          src="{{url_for('static',filename='img/img.jpeg')}}" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Identifiant: {{id}}</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{msg | safe}}</p>
    </div>
</div>


{% endblock %}